@import 'variables';


@mixin formatDocument {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin main-all {
    width: 100%;
    margin: auto;
    max-width: 1900px;
    background-color: $primary-color-3;

}

@mixin contenedor-servicios-li {
    background-color: rgb(181, 176, 176);
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin p{
    padding: 15px;
            background: #000000;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #434343, #000000);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #434343, #000000);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 25px 5px 50px 5px;
            color: $primary-color-1;
}