@import 'variables';
@import 'mixins';

* {
    @include formatDocument
}

.main-quienessomos {
    @include main-all;

    h2 {
        text-align: center;
    }

    .contenedor-nuestra-empresa {
        width: 100%;
        margin: auto;
        padding: 15px;
        background-color: $primary-color-2;
        color: $primary-color-1;

        h2 {
            text-align: left;
            text-decoration: underline;
        }

        p {
            font-family: sans-serif;

        }
    }

    .contenedor-mantenimiento {
        padding: 15px;
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 1 minmax(100%);
        margin-top: 50px;

        .lista-mantenimiento {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: $primary-color-2;
            color: $primary-color-1;

            ul {
                li {

                    list-style: none;
                    text-transform: uppercase;
                    flex-wrap: wrap;
                }

            }
        }

        .imag-mantenimiento {
            display: flex;
            width: 100%;

            img {
                width: 100%;
            }
        }

    }

    .capitalhumano {
        margin-top: 50px;
        width: 100%;
        background-color: $primary-color-2;
        color: $primary-color-1;

        h3 {
            text-align: center;
            text-decoration: underline;
        }

        .contenedor-capitalhumano {
            padding: 15px;
            display: grid;
            grid-template-columns: 6fr 6fr;
            grid-template-rows: 1 minmax(100%);
            margin-top: 50px;

            .img-p-humano {
                display: flex;
                width: 100%;
                margin: 5px;

                img {
                    width: 100%;
                }
            }

            .capitalhumano-parrafo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 5px;
                padding: 10px;
                background-color: $primary-color-3;

                p {
                    margin: 5px;
                }
            }
        }
    }

    .medioambiente {
        padding: 15px;

        h3 {
            text-decoration: underline;
        }

        p {
            @include p
        }
    }

}


@media screen and (max-width:500px) {
    .main-quienessomos {
        h2 {
            width: 100%;
            font-size: 30px;
        }

        .contenedor-nuestra-empresa {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                width: 100%;
                font-size: 25px;
            }

            p {
                width: 90%;
            }
        }

        .contenedor-mantenimiento {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            ul {
                width: 100%;
            }
        }

        .imag-mantenimiento {
            width: 100%;
        }

        .capitalhumano {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                width: 100%;
            }

            .contenedor-capitalhumano {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                padding-bottom: 15px;

                .img-p-humano{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

                .capitalhumano-parrafo{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:300px) {
    .main-quienessomos {
        h2 {
            width: 100%;
            font-size: 30px;

        }

        .contenedor-nuestra-empresa {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                width: 100%;
                font-size: 25px;
            }

            p {
                width: 90%;
            }
        }

        .contenedor-mantenimiento {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            ul {
                width: 100%;
            }
        }

        .imag-mantenimiento {
            width: 100%;
        }

        .capitalhumano {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                width: 100%;
            }

            .contenedor-capitalhumano {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                padding-bottom: 15px;

                .img-p-humano{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

                .capitalhumano-parrafo{
                    width: 100%;
                }
            }
        }
    }
}