@import 'variables';
@import 'mixins';

* {
   @include formatDocument
}


.main-servicios {
   @include main-all;


    .contenedor-titulo {
        width: 100%;
        padding: 15px;

        h2 {
            font-size: $font-size-2;
            text-decoration: underline;
        }

        .parrafo-titulo {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                font-size: $font-size-4;
                font-family: sans-serif;
                display: flex;
                flex-direction: column;

                span {
                    font-size: $font-size-4;
                    font-family: sans-serif;
                }
            }
        }
    }

    .contenedor-servicios {
        background-color: $primary-color-2;
        color: $primary-color-1;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;

        h2 {}

        .contenedor-servicios-li-1 {
            @include contenedor-servicios-li;

            flex-direction: row;

            .servicios {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    list-style: none;
                    color: $primary-color-4;
                }
            }

            .img-servicios {
                width: 50%;

                img {
                    width: 100%;
                }
            }

        }

        .contenedor-servicios-li-2 {
          @include contenedor-servicios-li;
            flex-direction: row-reverse;

            .servicios {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;

                li {
                    list-style: none;
                    font-size: $font-size-3;
                    text-transform: uppercase;
                    color: $primary-color-4;
                }
            }

            .img-servicios {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .trabaja-con-nosotros{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            text-align: center;
        }
        .parrafo-trabaja{
            border-radius: 25px 5px 50px 5px;
            padding: 20px;
            background: $primary-color-2;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            p{
                color: $primary-color-1;

            }
        }
        .h3-trabaja{
            h3{
                text-align: center;
            }
        }
    }
}