@import 'variables';
@import 'mixins';
@import 'servicios';
@import 'contacto';
@import 'obras';
@import 'quienessomos';
@import 'footer';

* {
    @include formatDocument
}

body {
    background-color: $primary-color-3;

}

.main-index {
    @include main-all;

    .titulos-index {

        h1 {
            color: $primary-color-1;
            text-shadow: 2px 1px 2px $primary-color-2;
            font-weight: bold;
            font-size: 150px;
            text-align: center;
            background-image: url(../imagenes/titulo\ principal.jpg);
            background-size: cover;
            background-position: center;


        }

        #frase-2 {
            color: $primary-color-2;
            font-size: $font-size-1;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
        }
    }


    .h2-main {
        width: 100%;

        #frase-1 {
            width: 100%;
            color: white;
            text-shadow: 2px 1px 2px $primary-color-2;
            font-size: 60px;
            font-weight: bold;
            text-align: center;
            background-color: turquoise;
            background-image: url(../imagenes/ruedas.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;

        }
    }


    .contenedor-bienvenida {
        text-align: justify;

        .h2-bienvenida {
            text-align: center;

            h2 {

                span {
                    color: $primary-color-1;
                }
            }
        }

        .contenedor-p-img {
            width: 100%;
            margin: auto;
            background-color: $primary-color-2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;

            .parrafo-bienvenida {
                width: 50%;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: $primary-color-1;
                    width: 100%;
                    font-size: $font-size-3;
                }
            }

            .img-bienvenida {
                width: 50%;
                margin: 5px;

                img {
                    width: 100%;

                }
            }
        }


    }


    .contenedor-servicios {
        color: $primary-color-2;
        background-color: $primary-color-3;

        font-weight: bold;
        text-align: center;
        padding: 15px;

        .tipos-servicios {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            span {
                background-color: grey;
                padding: 5px;
                margin: 5px auto;

            }
        }
    }


    .contenedor-direccion {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-image: url(../imagenes/araña.jpg);
        background-size: cover;
        background-position: center;

        .direccion {
            background-color: $primary-color-2;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .h3-direccion {
                text-shadow: 2px 1px 2px $primary-color-2;
                color: $primary-color-1;
                text-align: center;
                font-weight: bold;
                text-align: center;

                h3 {
                    font-size: $font-size-4;

                }
            }
        }


        .mapa {
            background-color: $primary-color-2;
            width: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            padding: 20px;

            iframe {
                width: 100%;
            }
        }
    }

    .contenedor-redes {

        .redes-sociales {
            background-color: rgba(0, 0, 0, 0.75);
            color: whitesmoke;
            text-align: center;

        }


        .contenedor-redes-enlace {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            margin-top: 20px;

            .redes-sociales-enlaces {
                width: 33.3%;
                background-color: rgba(8, 7, 7, 0.774);
                margin: 1px;
                text-align: center;
            }

        }

    }

}

@media screen and (max-width:768px) {
    .main-index {
        .titulos-index {
            h1 {
                width: 100%;
                font-size: 50px;
            }

            #frase-2 {
                width: 100%;
                font-size: 25px;
            }
        }

        .h2-main {
            width: 100%;

            #frase-1 {
                width: 100%;
                font-size: 35px;
            }
        }

        .contenedor-bienvenida {
            .contenedor-p-img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .parrafo-bienvenida {
                    width: 90%;
                }

                .img-bienvenida {
                    width: 90%;
                }
            }

        }

        .contenedor-direccion {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
            padding-bottom: 15px;

            .direccion {
                width: 90%;
                padding: 5px;
                h3{
                    width: 100%;
                    padding: 5px;
                }
            }

            .mapa {
                padding: 0px;
                width: 90%;
                iframe{
                    width: 100%;
                }
            }
        }
    }

}